.banner {
  padding: 12rem 0;
  background-position: center;
  background-size: cover;
  color: #fff;
  &__title {
    font-weight: 800;
    font-size: 3rem;
    color: #f4f4f4;
    line-height: 1.3em;
    text-align: center;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    @media (min-width: map-get($screenSizes, 'md')) {
      font-size: 6rem;
    }
  }
  &--dark {
    position: relative;
    & > * {
      z-index: 2;
    }
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .6);
      position: absolute;
    }
  }
}