@keyframes text-effect-parent {
  from {
    clip-path: inset(0 0 0 50%);
  }
  to {
    clip-path: inset(0);
  }
}

@keyframes text-effect {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.main-slider {
  .swiper {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    &-slide {
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &-slide {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000050;
        z-index: -1;
      }
      .text-effect {
        opacity: 0;
        transition: opacity .8s;
      }
      &-visible {
        .text-effect {
          transition: none;
          opacity: 1;
          animation: text-effect-parent .8s forwards;
          h2 {
            animation: text-effect .8s forwards;
          }
        }
      }
    }
  }
  &__container {
    padding-left: 3rem;
    @media (min-width: map-get($screenSizes, 'sm')) {
      padding-left: 13rem;
    }
    @media (min-width: map-get($screenSizes, 'md')) {
      padding-left: 25rem;
    }
  }
  &__buttons {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 0;
    i {
      color: #fff;
      font-size: 1.2rem;
    }
    @media (min-width: map-get($screenSizes, 'sm')) {
      display: block;
      position: static;
      i {
        display: none;
      }
    }
  }
  &__next,
  &__prev {
    z-index: 50;
    padding: 1rem 2rem;
    p {
      display: none;
      @media (min-width: map-get($screenSizes, 'sm')) {
        display: block;
        transform: rotate(-90deg);
        user-select: none;
        color: #fff;
        font-weight: 500;
        font-family: 'Numans', sans-serif;
        font-size: 9px;
        letter-spacing: .1rem;
      }
      @media (min-width: map-get($screenSizes, 'md')) {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
    @media (min-width: map-get($screenSizes, 'sm')) {
      position: absolute;
      top: 0;
      height: 100%;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 1.5rem;
      transition: {
        property: background-color, backdrop-filter, border-color;
        duration: .2s;
      }
      z-index: var(--z-middle);
      &:hover {
        background-color: rgba(#ffffff, .05);
        backdrop-filter: blur(5px);
        border-color: rgba(#fff, .5);
      }
      padding: 3rem;
    }
  }
  &__prev {
    border-right: 1px solid transparent;
    left: 0;
  }
  &__next {
    border-left: 1px solid rgba(#fff, .1);
    right: 0;
  }

  &__title {
    z-index: 5;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: .9;
    font-size: max(5rem, 10vw);
    letter-spacing: -.5rem;
    @media (min-width: map-get($screenSizes, 'md')) {
      letter-spacing: -1rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    color: rgba(#fff, .5);
    text-transform: uppercase;
    span {
      display: inline-block;
      vertical-align: top;
      margin-right: 0.5rem;
    }
    &--active {
      color: rgba(#fff, 1);
    }
    &--big {
      font-size: 2.8rem;
      transform: translateY(-.5rem);
    }
  }

  &__bottom-text {
    margin-top: 3rem;
    p { margin-bottom: .3rem !important };
    @media (min-width: map-get($screenSizes, 'md')) {
      display: flex;
      margin-top: 6rem;
      p:first-child {
        margin-right: 5rem;
        margin-bottom: 0;
      }
    }
  }
}