.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-front);
  transition: background-color .3s, transform .3s;
  // padding: 2rem 0;
  @media (min-width: map-get($screenSizes, 'md')) {
    padding: 0;
  }
  &__container {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--fixed {
    background-color: #000;
    &.show {
      transform: translateY(-100%);
    }
  }
  .brand {
    display: block;
    img {
      height: 90px;
      display: inherit;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    .button {
      margin-left: 6rem;
      display: none;
      @media (min-width: map-get($screenSizes, 'sm')) {
        display: block;
      }
    }
  }
}