.stats {
  padding: 3.7rem 0;
  &__value {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 5rem;
<<<<<<< HEAD
    margin-bottom: 0.7rem;
=======
    margin-bottom: 0.5rem;
>>>>>>> b4a2c07c5b38217fc60f1ffbc02548b18afef20d
    line-height: 1;
  }
  &__var {
    letter-spacing: 1px;
    margin: 0;
    color: rgba(255,255,255,0.5);
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}