@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.active .stats {
  --num: var(--value);

}

.stats {
  padding: 3.7rem 0;
  transition: --num 2s;
  counter-reset: num var(--num);
  &__value {
    &::after {
      content: counter(num);
    }
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  &__var {
    letter-spacing: 1px;
    margin: 0;
    color: rgba(255,255,255,0.5);
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}