extends ../layouts/app
block content 
  section.banner.banner--full.banner--center.banner--dark.banner--dark--md(style="background-image: url(/images/bird.jpg); padding-top: 90px")
    .container
      p.banner__info(data-aos="fade-up" data-aos-duration="600") Get in touch
      h1.banner__title.banner__title--md.text-white(data-aos="fade-up" data-aos-duration="900")
        |Let's create
        br
        |something together!
      div.d-lg-flex.align-items-center(style="margin-top: 4rem;") 
        .mb-5.mb-lg-0
          +iconText('lnr-map', 'PO Box 16122 Collins Street West Victoria 8007 Australia')
        .mb-5.mb-lg-0
          +iconText('lnr-envelope', 'geral@example.com')
        .mb-5.mb-lg-0
          +iconText('lnr-phone-handset', '(+23) 345 322 233')
      include ../partials/banner-separator
  section.section.l-section.bg-svg
    .container
      h2.section__title(style="margin-bottom: 2rem") Contact us today
      p(style="margin-bottom: 5rem;") Contact us via the contact form below to discuss
        br
        |your project, your idea.
      .row 
        .col-md-9
          form(action="").l-form
            .l-form__input
              label.input__label Your Name (required)
              input.input
            .l-form__input
              label.input__label Your Email (required)
              input.input
            .l-form__input
              label.input__label Subject
              input.input
            .l-form__input
              label.input__label Service Desired
              select.input.form-select
                option Web APS
            .l-form__input.l-form__input--full
              label.input__label Your Message
              textarea.input.textarea
            div
              button(type="submit" style="font-size: 14px;").button Send Emails

