extends ../layouts/app
block append head 
  //- SWIPER SLIDER CSS
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
block content 
  include ../components/main-slider
  section.l-section.section.section--separators
    .container
      h2.section__title 
        |We're Hazel
        br
        |Creativity Agency
      .row
        .col-md-6(style="padding-right: 2.5rem;")
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .col-md-6(style="padding-left: 2.5rem;") 
          p Enthusiastically enable client-centered applications for progressive services. Objectively evolve B2B bandwidth rather than high standards in opportunities. Competently evisculate resource sucking catalysts for change through business mindshare. Collaboratively supply dynamic communities with bricks-and-clicks infrastructures.
      a.button.button--default(href="#" style="margin-top: 5rem;") More about us
  section.l-section.section 
    nav.icons-nav 
      a(href="#0").icons-nav__item.icons-nav__item--active 
        span.lnr.lnr-screen
        p Wev Design
      a(href="#1").icons-nav__item 
        span.lnr.lnr-film-play
        p Video & Animation
      a(href="#2").icons-nav__item 
        span.lnr.lnr-magic-wand
        p Illustrations
      a(href="#3").icons-nav__item 
        span.lnr.lnr-smartphone
        p App Development
    .container
      // Slider main container
      .swiper.swiper--tabs(style="margin-top: 6rem")
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            div.row
              .col-md-4
                h2.section__title.section__title--md
                  |Code
                  br
                  |& Design
              .col-md-4
                p
                  strong Lorem ipsum 
                  | dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
              .col-md-4
                p Lorem ipsum dolor sit amet consectetur adipi sicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
          .swiper-slide
            .row
              .col-md-6
                h2.section__title.section__title--sm Video Animation
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                a.button.button--default(href="#" style="margin-top: 2rem;") Get Hazel today
              .col-md-6
                .px-5
                  img(src="/images/videoediting.jpg", alt="Video Editing")
          .swiper-slide
            .row
              .col-md-6
                h2.section__title.section__title--sm Illustrations
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                a.button.button--default(href="#" style="margin-top: 2rem;") Purchase Hazel
              .col-md-6
                .px-5
                  img(src="/images/illustrations.jpg", alt="Video Editing")
          .swiper-slide
            .row  
              .col-md-6.pe-5
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
              .col-md-6.ps-5
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
  section.banner(style="background-image: url(\"https://preview.treethemes.com/hazel/demo15/wp-content/uploads/sites/32/revslider/portfolio-showreel/moon-new_138.jpeg\")")
    .container
      .row 
        article.col-md-4.text-center
          .stats 
            p.stats__value 391
            p.stats__var CLIENTS
        article.col-md-4.text-center
          .stats
            p.stats__value 391
            p.stats__var FINISHED PROJECTS
        article.col-md-4.text-center 
          .stats
            p.stats__value 391
            p.stats__var OUR TEAM MEMBER
  section.l-section.section.section--separators
<<<<<<< HEAD
    .container-fluid(style="margin-top: 5rem")
      .row
        .col-md-6.p-0 
          .ultra-context-box(style="padding: 9rem") 
            h2.section__title 
              |We explore.
              br
              |We innovate.
            p Our projects, all of which are unique, encompass contextual analysis, formal design, a sense of uses, an original approach to materials, pleasure in construction, new itineraries in the city, and a reinvention of urban situations.
            a.button.button--default(href="#" style="margin-top: 5rem;") View all Projects
        .col-md-6.p-0 
          .swiper.cards-slider
            .cards-slider__buttons
              .cards-slider__buttons-prev
                span.lnr.lnr-chevron-left
              .cards-slider__buttons-next
                span.lnr.lnr-chevron-right
            .swiper-wrapper
              // Slides
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic
=======
    .container-fluid
      .row
        .col-md-6 
          h2.section__title 
            |We explore.
            br
            |We innovate.
          p Our projects, all of which are unique, encompass contextual analysis, formal design, a sense of uses, an original approach to materials, pleasure in construction, new itineraries in the city, and a reinvention of urban situations.
          a.button.button--default(href="#" style="margin-top: 5rem;") View all Projects
        .col-md-6 
>>>>>>> b4a2c07c5b38217fc60f1ffbc02548b18afef20d
block prepend scripts 
  script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")