extends ../layouts/app
block append head 
  //- SWIPER SLIDER CSS
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
block content 
  include ../components/main-slider
  section.l-section.section.pb-0
    .section__separator(style="--top-separator: 10rem;" data-aos="fade-up")
    .container
      h2.section__title(data-aos="fade-up") 
        |We're Hazel
        br
        |Creativity Agency
      .row(data-aos="fade-up")
        .col-lg-6.pe-lg-5
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .col-lg-6.ps-lg-5 
          p Enthusiastically enable client-centered applications for progressive services. Objectively evolve B2B bandwidth rather than high standards in opportunities. Competently evisculate resource sucking catalysts for change through business mindshare. Collaboratively supply dynamic communities with bricks-and-clicks infrastructures.
      a.button.button--default(href="#" style="margin-top: 5rem;" data-aos="fade-up") More about us
    .section__separator(style="--bottom-separator: 10rem;" data-aos="fade-up")
  section.l-section.section 
    nav.icons-nav 
      a(href="#0").icons-nav__item.icons-nav__item--active 
        span.lnr.lnr-screen
        p Wev Design
      a(href="#1").icons-nav__item 
        span.lnr.lnr-film-play
        p Video & Animation
      a(href="#2").icons-nav__item 
        span.lnr.lnr-magic-wand
        p Illustrations
      a(href="#3").icons-nav__item 
        span.lnr.lnr-smartphone
        p App Development
    .container
      // Slider main container
      .swiper.swiper--tabs(style="margin-top: 6rem")
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            div.row
              .col-md-4
                h2.section__title.section__title--md
                  |Code
                  br
                  |& Design
              .col-md-4
                p
                  strong Lorem ipsum 
                  | dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
              .col-md-4
                p Lorem ipsum dolor sit amet consectetur adipi sicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
          .swiper-slide
            .row
              .col-md-6
                h2.section__title.section__title--sm Video Animation
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                a.button.button--default(href="#" style="margin-top: 2rem;") Get Hazel today
              .col-md-6
                .pt-5.pt-md-0.ps-md-5
                  img(src="/images/videoediting.jpg", alt="Video Editing")
          .swiper-slide
            .row
              .col-md-6
                h2.section__title.section__title--sm Illustrations
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nulla doloremque odio at aliquam, soluta necessitatibus commodi facere? Odit eveniet at excepturi ab error. Ut cupiditate quam aut temporibus.
                a.button.button--default(href="#" style="margin-top: 2rem;") Purchase Hazel
              .col-md-6
                .pt-5.pt-md-0.ps-md-5
                  img(src="/images/illustrations.jpg", alt="Video Editing")
          .swiper-slide
            .row  
              .col-md-6.pe-5
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
              .col-md-6.ps-md-5
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur qui. A mollitia rerum incidunt. Libero eius alias amet, perspiciatis laborum explicabo possimus iure sed eligendi fuga soluta commodi adipisci?
  section.banner(style="background-image: url(\"https://preview.treethemes.com/hazel/demo15/wp-content/uploads/sites/32/revslider/portfolio-showreel/moon-new_138.jpeg\")").active-on-scroll
    .container
      .row 
        article.col-md-4.text-center(data-aos="fade-up")
          .stats(style="--value: 391") 
            p.stats__value
            p.stats__var CLIENTS
        article.col-md-4.text-center(data-aos="fade-up")
          .stats(style="--value: 1091")
            p.stats__value
            p.stats__var FINISHED PROJECTS
        article.col-md-4.text-center(data-aos="fade-up") 
          .stats(style="--value: 66")
            p.stats__value
            p.stats__var OUR TEAM MEMBER
  section.l-section.section
    .section__separator(style="--top-separator: 5rem;" data-aos="fade-up")
    .container-fluid
      .row
        .col-md-6.p-0.mb-5.mb-md-0 
          .ultra-content-box 
            h2.section__title(data-aos="fade-up") 
              |We explore.
              br
              |We innovate.
            p(data-aos="fade-up") Our projects, all of which are unique, encompass contextual analysis, formal design, a sense of uses, an original approach to materials, pleasure in construction, new itineraries in the city, and a reinvention of urban situations.
            a.button.button--default(href="#" style="--mt-md-top: 6rem; margin-top: 3rem" data-aos="fade-up") View all Projects
        .col-md-6.px-5.px-md-0(data-aos="fade-up")
          .swiper.cards-slider
            .cards-slider__buttons
              .cards-slider__buttons-prev <
              .cards-slider__buttons-next >
            .swiper-wrapper
              // Slides
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic
              .swiper-slide
                figure.figure
                  .figure__image 
                    img(src="/images/imac.jpg", alt="Imagen de prueba")
                  figcaption.figure__caption 
                    h3 Apple iMac
                    p Web design / Graphic 
    .section__separator(style="--bottom-separator: 5rem;" data-aos="fade-up")
  section.parallax-banner.section.l-section(style="background-image: url(/images/macbook.jpg);") 
    .container
      div(data-aos="fade-up")
        h2.section__title(style="margin-bottom: 4rem")
          |Add Creativity
          br
          |to your Business.
        .row
          .col-md-8(style="padding-right: 2.5rem;")
            p.section__subtitle We specialize in deploying creatively branded, outstanding Buildings, incredible APPs, online advertising and media campaigns.
            div.d-sm-flex.justify-content-sm-around.l-figicons(style="margin-top: 7rem") 
              .figicon 
                span.figicon__icon.lnr.lnr-chart-bars
                h3.figicon__header 1. RESEARCH
              .figicon 
                span.figicon__icon.lnr.lnr-laptop-phone
                h3.figicon__header 1. RESEARCH
              .figicon 
                span.figicon__icon.lnr.lnr-code
                h3.figicon__header 1. RESEARCH
              .figicon 
                span.figicon__icon.lnr.lnr-rocket
                h3.figicon__header 1. RESEARCH
  section.banner.banner--dark.d-flex.align-items-center.justify-content-center(style="background-image: url(/images/happyclients.jpg); min-height: 500px")
    h2.banner__title.text-center(data-aos="fade-up") Step two. Design.
  section.l-section.section
    .section__separator(style="--top-separator: 5rem;" data-aos="fade-up")
    .container
      .row
        .col-md-4(style="padding-right: 2.5rem;")
          h2.section__title(data-aos="fade-up") 
            |The
            br
            |Team
          p(data-aos="fade-up") We are a band of makers, industrious and experimental. We are architects, designers, creators, and entrepreneurs
          a.button.button--default(href="#" style="margin-top: 5rem;" data-aos="fade-up") Get Hazel Today
        .col-md-8.ps-md-4
          .l-masonry-fake 
            div.mb-5.mb-md-0 
              article(data-aos="fade-up").info-card
                .info-card__image 
                  img(src="/images/t5.jpg", alt="Person")
                .info-card__info 
                  h3.info-card__title Lucas Moreira 
                  p.info-card__description CEO
                  .info-card__links
                    a.info-card__link(href="#") 
                      i.fab.fa-linkedin
                    a.info-card__link(href="#") 
                      i.fab.fa-twitter-square
                    a.info-card__link(href="#") 
                      i.fab.fa-youtube-square
            div.mb-5.mb-md-0 
              article(data-aos="fade-up" data-aos-delay="150").info-card
                .info-card__image 
                  img(src="/images/t5.jpg", alt="Person")
                .info-card__info 
                  h3.info-card__title Lucas Moreira 
                  p.info-card__description CEO
                  .info-card__links
                    a.info-card__link(href="#") 
                      i.fab.fa-linkedin
                    a.info-card__link(href="#") 
                      i.fab.fa-twitter-square
                    a.info-card__link(href="#") 
                      i.fab.fa-youtube-square
            div.mb-5.mb-md-0 
              article(data-aos="fade-up").info-card
                .info-card__image 
                  img(src="/images/t5.jpg", alt="Person")
                .info-card__info 
                  h3.info-card__title Lucas Moreira 
                  p.info-card__description CEO
                  .info-card__links
                    a.info-card__link(href="#") 
                      i.fab.fa-linkedin
                    a.info-card__link(href="#") 
                      i.fab.fa-twitter-square
                    a.info-card__link(href="#") 
                      i.fab.fa-youtube-square
            div.mb-5.mb-md-0 
              article(data-aos="fade-up" data-aos-delay="150").info-card
                .info-card__image 
                  img(src="/images/t5.jpg", alt="Person")
                .info-card__info 
                  h3.info-card__title Lucas Moreira 
                  p.info-card__description CEO
                  .info-card__links
                    a.info-card__link(href="#") 
                      i.fab.fa-linkedin
                    a.info-card__link(href="#") 
                      i.fab.fa-twitter-square
                    a.info-card__link(href="#") 
                      i.fab.fa-youtube-square
block prepend scripts 
  script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")