extends ../layouts/app
block append head 
  //- SWIPER SLIDER CSS
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
block content 
  include ../components/main-slider
  section.l-section.section.section--separators
    .container
      h2.section__title 
        |We're Hazel
        br
        |Creativity Agency
      .l-grid
        div
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        div 
          p Enthusiastically enable client-centered applications for progressive services. Objectively evolve B2B bandwidth rather than high standards in opportunities. Competently evisculate resource sucking catalysts for change through business mindshare. Collaboratively supply dynamic communities with bricks-and-clicks infrastructures.
      a.button.button--default(href="#" style="margin-top: 5rem;") More about us
block prepend scripts 
  script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")