doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Interfaces Web
		block head
			link(rel='preconnect' href='https://fonts.googleapis.com')
			link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
			link(href='https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Lato:wght@400;700&family=Manrope:wght@400;500;700;800&family=Montserrat:wght@400;500;700;800&family=Numans&display=swap' rel='stylesheet')
			link(rel='stylesheet' href='https://cdn.linearicons.com/free/1.0.0/icon-font.min.css')
			link(rel="stylesheet", href="./css/vendor/bootstrap.min.css")
			link(rel="stylesheet", href="./css/style.css")
	body 
		include ../components/site-header
		block content
		include ../components/site-footer
		button.gototop#gototop 
			i.fa.fa-angle-up
		block scripts
			script(src="https://kit.fontawesome.com/21f0ce8f28.js" crossorigin="anonymous")
			script(src="/js/app.js")