#main-slider.main-slider 
  // Slider main container
  .swiper
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide.swiper-no-swiping(style="background-image: url(/images/gato.jpg)")
        .main-slider__container
          p.main-slider__text 
            span.main-slider__text--active.main-slider__text--big
            span /
            span 6
          h2.main-slider__title
            |shinning
            br
            |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.main-slider__text--active Video
              span.main-slider__text--active /
              span Creative direction
            p.main-slider__text
              span.main-slider__text--active Industry 
              span Art
      .swiper-slide.swiper-no-swiping(style="background-image: url(/images/bird.jpg)")
        .main-slider__container
          p.main-slider__text 
            span.main-slider__text--active.main-slider__text--big
            span /
            span 6
          h2.main-slider__title
            |shinning
            br
            |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.main-slider__text--active Video
              span.main-slider__text--active /
              span Creative direction
            p.main-slider__text
              span.main-slider__text--active Industry 
              span Art
      .swiper-slide.swiper-no-swipin(style="background-image: url(/images/programing.png)")
        .main-slider__container
          p.main-slider__text 
            span.main-slider__text--active.main-slider__text--big
            span /
            span 6
          h2.main-slider__title
            |shinning
            br
            |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.main-slider__text--active Video
              span.main-slider__text--active /
              span Creative direction
            p.main-slider__text
              span.main-slider__text--active Industry 
              span Art
  .main-slider__prev
    p Prev
  .main-slider__next
    p Next