#main-slider.main-slider 
  // Slider main container
  .swiper
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide.swiper-no-swiping
        video(src="/videos/bg3.mp4" muted autoplay).main-slider__bg
        .main-slider__container
          p.main-slider__text 
            span.text-effect
              span.main-slider__text--active.main-slider__text--big
            span.text-effect
              span /
            span.text-effect
              span.main-slider__length
          .text-effect
            h2.main-slider__title
              |shining
              br
              |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Video
              span.text-effect
                span.main-slider__text--active /
              span.text-effect
                span Creative direction
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Industry 
              span.text-effect
                span Art
      .swiper-slide.swiper-no-swiping
        video(src="/videos/bg1.mp4" muted autoplay).main-slider__bg
        .main-slider__container
          p.main-slider__text 
            span.text-effect
              span.main-slider__text--active.main-slider__text--big
            span.text-effect
              span /
            span.text-effect
              span.main-slider__length
          .text-effect
            h2.main-slider__title
              |shinning
              br
              |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Video
              span.text-effect
                span.main-slider__text--active /
              span.text-effect
                span Creative direction
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Industry 
              span.text-effect
                span Art
      .swiper-slide.swiper-no-swipin(style="background-image: url(/images/programing.png)")
        .main-slider__container
          p.main-slider__text 
            span.text-effect
              span.main-slider__text--active.main-slider__text--big
            span.text-effect
              span /
            span.text-effect
              span.main-slider__length
          .text-effect
            h2.main-slider__title
              |shinning
              br
              |moon
          div.main-slider__bottom-text
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Video
              span.text-effect
                span.main-slider__text--active /
              span.text-effect
                span Creative direction
            p.main-slider__text
              span.text-effect
                span.main-slider__text--active Industry 
              span.text-effect
                span Art
  .main-slider__buttons
    .main-slider__prev
      i.fa.fa-angle-left
      p Prev
    .main-slider__next
      i.fa.fa-angle-right
      p Next