header#site-header.site-header 
  .site-header__container 
    a(href="/").brand 
      img(src="/images/logo.png", alt="Logo")
    .site-header__right
      nav.navbar 
        ul.navbar__nav 
          li.navbar__item 
            a.navbar__link(href="#") home.
          li.navbar__item
            a.navbar__link(href="#") pages.
            ul.navbar__subnav 
              li
                a(href="/about.html") About us
              li
                a(href="#") Services
              li
                a(href="#") Contact with map
              li
                a(href="#") Contact us
              li
                a(href="#") Project Planner
          li.navbar__item
            a.navbar__link(href="#") blog.
          li.navbar__item
            a.navbar__link(href="#") portfolios.
      a.button(href="#") Get in touch