footer.site-footer
  .container 
    .row 
      .col-lg-3.site-footer__col 
        img(src="/images/logo-white.svg", alt="Logo", width="150")
      .col-lg-3.site-footer__col 
        h3.site-footer__title Office
        p.site-footer__text PO Box 16122 Collins Street
          |West Victoria 8007
          |Australia
        p.site-footer__text 
          a(href="mailto:homermoncallo@gmail.com") homermoncallo@gmail.com
        p.site-footer__text (+23) 345 322 233
      .col-lg-3.site-footer__col 
        h3.site-footer__title Quick links
        ul.site-footer__list 
          li
            a(href="#") 
              i.fa.fa-home 
              |Hazel Demos Page
          li
            a(href="#") 
              i.far.fa-heart 
              |Hazel Main Demo
          li
            a(href="#") 
              i.fa.fa-shopping-cart 
              |Purchase theme
      .col-lg-3.site-footer__col 
        h3.site-footer__title Follow us
        .site-footer__socials 
          a(href="#") 
            i.fab.fa-twitter
          a(href="#") 
            i.fab.fa-instagram
          a(href="#") 
            i.fab.fa-dribbble
          a(href="#") 
            i.fab.fa-tiktok
          a(href="#") 
            i.fab.fa-facebook
.site-footer__bottom 
  p.m-0.text-center Strateps © #{ new Date().getFullYear() } by Homer Moncayo