header#site-header.site-header 
  .site-header__container 
    a(href="/").brand 
      img(src="/images/logo-white.svg", alt="Logo")
    .site-header__right
      nav.navbar#navbar.p-0
        ul.navbar__nav.m-0 
          li.navbar__item 
            a.navbar__link(href="/") home.
          li.navbar__item.navbar__item--with-subnav
            a.navbar__link(href="#")
              span pages.
              i.fa.fa-angle-right
            ul.navbar__subnav 
              li
                a.back(href="#")
                  i.fa.fa-angle-left
                  span BACK
              li
                a(href="/about.html") About us
              li
                a(href="#") Services
              li
                a(href="#") Contact with map
              li
                a(href="#") Contact us
              li
                a(href="#") Project Planner
          li.navbar__item
            a.navbar__link(href="#") blog.
          li.navbar__item
            a.navbar__link(href="#") portfolios.
      a.button(href="#") Get in touch
      button.navbar__toggle#navbar-toggle 
        span.navbar__toggle-line 
        span.navbar__toggle-line 
        span.navbar__toggle-line 