footer.site-footer 
  .container 
    .row 
      .col-md-3 
        img(src="/images/logodemo.png", alt="Logo")
      .col-md-3 
        h3 Office
      .col-md-3 
        h3 Quick links
      .col-md-3 
        h3 Follow us