header#site-header(class=`site-header ${ siteHeaderLight ? 'site-header--light' : '' }`) 
  .site-header__container 
    a(href="/").brand 
      if !siteHeaderLight
        img(src="/images/logo-white.svg", alt="Logo")
      else 
        img(src="/images/logo-black.svg", alt="Logo")
    .site-header__right
      nav#navbar(class=`p-0 navbar ${ siteHeaderLight ? 'navbar--light' : '' }`)
        ul.navbar__nav.m-0 
          li.navbar__item 
            a.navbar__link(href="/") home.
          li.navbar__item.navbar__item--with-subnav
            a.navbar__link(href="#")
              span pages.
              i.fa.fa-angle-right
            ul.navbar__subnav 
              li
                a.back(href="#")
                  i.fa.fa-angle-left
                  span BACK
              li
                a(href="/about.html") About us
              li
                a(href="/services.html") Services
              li
                a(href="/contact-map.html") Contact with map
              li
                a(href="/contact.html") Contact us
              li
                a(href="#") Project Planner
          li.navbar__item
            a.navbar__link(href="#") blog.
          li.navbar__item
            a.navbar__link(href="#") portfolios.
      a.button(href="#") Get in touch
      button#navbar-toggle(class=`navbar__toggle ${ siteHeaderLight ? 'navbar__toggle--light' : ''}`) 
        span.navbar__toggle-line 
        span.navbar__toggle-line 
        span.navbar__toggle-line 